#today  {
    text-align: center;
    align-content: center;
    background-color: black;
    color: white;
}
.display-3 {
    font-family: fantasy;
}
.container {
    margin-bottom: 20px;
}

.time-block {
    background-color: teal;
    text-align: center;
}
textarea:hover {
    background-color: tomato;
}
textarea:active {
    background-color: slateblue;
}
button:hover {
    background-color: tomato;
}
@media only screen and (max-width: 768px) {
   .row {
       flex-wrap: nowrap;
       border: black solid;
       margin-bottom: 10px;
   }
   .time-block {
       background-color: black;
       color: white;
   }
   .fa-save {
       color:white;
   };
};